{%extends 'base_layout.html'%} {% block title %} ConservationVote - Update Password{% endblock %} {%block
  content%}
  <div class="container rounded bg-transparent mt-5 mb-5">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Password Settings</h4>
          </div>
          <form
            method="post"
            class="needs-validation"
            action="{{url_for('profile_update_password')}}"
            autocomplete="off"

          >
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Current Password</label
                ><input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                  minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])[^\s]{8,}" placeholder="Password" title="Password must be at least 8 characters long, contain a number, a lowercase letter, an uppercase letter, a special character, and have no spaces"
                />
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="labels">New Password</label
                  ><input
                  
                   
                    id="newpassword"
                    name="newpassword"
                    required
                    type="password" class="form-control"  minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])[^\s]{8,}" placeholder="New Password" title="Password must be at least 8 characters long, contain a number, a lowercase letter, an uppercase letter, a special character, and have no spaces"
                    
                  />
                </div>
                <div class="col-md-6">
                  <label class="labels">Confirm New password</label
                  ><input
                 
                   
                    name="confirmnewpassword"
                    id="confirmnewpassword"
                    required
                    type="password" class="form-control"  minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])[^\s]{8,}" placeholder="Confirm New Password" title="Password must be at least 8 characters long, contain a number, a lowercase letter, an uppercase letter, a special character, and have no spaces"
                  />
                </div>
              </div>
              
                
               
              </div>
              <div class="mt-5 text-center">
                <button class="btn btn-success profile-button" type="submit">
                  Save Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}
  
